* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: 'TikTok Sans', 'Inter', 'Lato', 'Roboto', 'Arial';
}

body {
    background-color: #d0d0d0;
}

/* navbar section */

header nav {
    background-color: hsla(215, 12%, 27%, 0.6);
    top: 0;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

header li {
    height: 50px;
}

header li:first-child {
    margin-right: auto;
}

header a {
    text-decoration: none;
    height: 100%;
    display: flex;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #b0b0b0;
    color: #fff;
    align-items: center;
    padding: 0px 20px;
    transition: color 0.4s ease-in-out;
}

header a:hover {
    color: #bdbdbd;
    text-shadow: 1px 1px 3px #000;
}

/* hero section */
#hero {
    width: 100%;
    height: 100%;
    line-height: 1.2;
    border-bottom: 10px solid #adadad;
}

#hero .banner {
    background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/32/business-1012449_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    padding: 20px 0;
}

#hero .content {
    background-color: hsla(255, 100%, 100%, 60%);
    width: 90%;
    margin: 30px auto;
    padding: 100px 20px;
    border-radius: 15px 0 15px 0;
}

#hero h1 {
    font-size: 3rem;
}

/* product listing section */
#products {
    width: 100%;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg");
    background-position: center;
    background-size: cover;
    padding: 75px 0px;
    border-bottom: 10px solid #adadad;
}

#products h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 3px #fff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.product-listing {
    margin: 30px 30px;
    padding: 2rem 1rem;
    background-color: hsla(255, 100%, 100%, 0.875);
    border-radius: 0px 25px 25px 25px;
    transition: background-color 0.4s ease-in-out;
}

.product-listing:hover {
    box-shadow: 0px 0px 7px #000;
    background-color: #8fa1b9;
}

.product-listing img {
    width: 400px;
    height: auto;
    margin: 10px auto;
}

.product-listing figcaption {
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000;
}

/* staff section */
/* photos from https://www.pexels.com/search/headshot/ */

#staff {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    padding-bottom: 5rem;
    display: block;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/2116721/pexels-photo-2116721.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.2;
    border-bottom: 10px solid #adadad;
}

#staff .staff-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#staff h1 {
    font-size: 4rem;
    margin: 0.45em auto;
    color: #000;
    text-shadow: 1px 1px 2px #fff;
}

#staff h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

#staff p {
    color: #000;
    font-size: 1.2rem;
}

#staff .staff-member {
    background-color: #fff;
    height: 570px;
    margin: 20px auto;
    padding: 0px 15px;
    border-radius: 0px 20px 20px;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.8);
}

#staff img {
    margin: 1.05rem auto;
    height: auto;
    width: 300px;
}

/* contact section */
#contact {
    text-align: center;
    width: 100%;
    height: auto;
    border-bottom: 10px solid #adadad;
    background-color: #8fa1b9;
    padding: 30px 0px;
}

#contact h1 {
    font-size: 2.3rem;
    margin: 10px auto;
}

#contact form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact label {
    justify-self: start;
}

#contact .contact-inputs {
    margin: 10px 10px;
}

#contact textarea {
    width: 300px;
    height: 200px;
}

/* footer section */
footer {
    display: flex;
    flex-direction: column;
}

footer .content {
    margin: 10px 5px;
    font-size: 0.875rem;
}

@media (max-width: 700px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }
  #staff .staff-list {
    flex-direction: column;
    align-items: center;
  }
  #hero h1, #products h1, #staff h1 {
    font-size: 2rem;
  }
}